/*.container {*/
    /*padding-left: 0;*/
    /*padding-right: 0;*/
/*}*/

@media (max-width: 380px) {
    .form-control {
        /*width: 75%;*/
    }
}

@media (max-width: 468px) {
    .widget {
        background-image: none !important;
    }

    .rectangle-widget .description {
        width: 100%;
    }
    
    .rectangle-widget#sms-online {
        height: 160px;
        min-height: inherit;
    }

    .sms-online table tbody tr td {
        display: block;
    }

    .gt-panel li {
        width: 100% !important;
    }

    #goicuoc-slider .description {
        width: 100% !important;
    }

}


@media (max-width: 767px) {
    body {
        padding-top: 94px;
    }

    #home-slider .item .description-wrap {
        position: relative;
        background: #fff;
        border-radius: 0;
        border: 1px solid #e0e0e0;
        bottom: 0;
        right: 0;
        width: 100%;
        max-width: none;
        display: none;
    }


    #home-slider .item {
        height: 150px;
    }

    #home-slider .item .link {
        display: block;
        height: 100%;
        z-index: 1000;
    }

    .home-slider-wrap .owl-carousel-control {
        top: 45%;
        width: 100%;
        left: 0;
        bottom: inherit;
    }


    .home-slider-wrap .owl-carousel-control ul li.prev-nav {
        float: left;
        margin-left: 5px;
    }
    .home-slider-wrap .owl-carousel-control ul li.next-nav {
        float: right;
    }


    .charleft {
        width: 100% !important;
        display: inline-block;
    }


    .white-box-thumbnail {
        padding-bottom: 60%;
    }

    .kndl-widget {
        background-image: none !important;
    }

    .kndl-widget .text-content {
        margin-left: 0;
        width: 100%;
    }

    .text-center.not-in-xs {
        text-align: left;
        margin-left: 15px;
    }
}

@media (max-width: 991px) {
    .page-title.dichvu-chitiet {
        margin-left: 15px;
    }

    .maps-result {
        max-height: 388px;
    }


    .gt-panel li{
        width: 33.3%;
    }
    .gt-panel li:first-child {
        width: 100%;
    }

}

@media (min-width: 468px) and (max-width: 768px) {

    .gt-leftside-slide {
        overflow: hidden;
    }
    .gt-leftside-slide li{
        width: 41%;
        float: left;
    }

    .gt-leftside-slide hr{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .header-wrap .main-header .logo {
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }

    .rectangle-widget .description {
        width: 100%;
    }

    .dichvu#dem #first-widget {
        height: 138px;
        min-height: 138px;
    }

    .dichvu#dem #first-widget button {
        margin: 10px 15px;
    }


    .tem-4-box .widget-link {
        /*padding-bottom: 19px;*/
    }

    .tem-4-box .widget-footer {
        height: 156px;
    }

    .tem-3-box .widget-footer {
        height: 180px;
    }

    .widget-footer.dem3 {
        height: 138px !important;
        min-height: 138px !important;
    }

    .flex-thumbnail {
        /*padding-bottom: 68.6%;*/
    }

    .kndl-widget-uudai ul {
        padding-bottom: 1px;
    }

    .kndl-widget-uudai ul li {
        padding: 15px 0;
    }

    .header-wrap .main-header .header-menu ul.level-1 {
        margin-right: 50px;
    }

    .homeslider-thumbnail {
        height: 330px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .dichvu#dem #first-widget {
        height: 163px;
    }

    .widget-footer.dem3 {
        height: 165px;
    }

    .maps-result {
        height: 388px;
    }

    #huongdan .widget-footer p{
        padding-top: 5px;
        margin-bottom: 5px;
    }
    #huongdan .widget-footer {
        min-height: 100px !important;
        height: 100px !important;
        overflow: hidden;
    }

    .widget-footer button {
        margin: 1px 15px !important;
    }

    .widget-footer.only-title {
        height: 33px !important;
        min-height: 34px !important;
    }

    .background-transparent p, .widget-footer p {
        /*line-height: 1.5em !important;*/
    }

    .kndl-widget-uudai ul {
        margin-top: 0;
        margin-bottom: 0;
    }

    .kndl-widget-uudai ul li a {
        font-size: 13px;
    }

    .small-widget-dichvu .grey-widget a {
        padding: 8px 19px;
        font-size: 16px;
    }

    .gt-leftside-slide li {
        padding: 6px 0;
    }
    .gt-leftside-slide li:last-child {
        padding-bottom: 2px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .form-range-date .form-group:first-child {
        display: block;
    }
    .form-range-date .form-group {
        margin-bottom: 10px;
    }

    .header-wrap .main-header .header-menu ul.level-1 li {
        margin-left: 15px;
    }

    .gt-leftside-slide hr {
        margin-bottom: 2px;
        margin-top: 3px;
    }


    .grey-widget.gioithieu a {
        padding: 15px 10px;
    }

    .white-box-thumbnail {
        padding-bottom: 90%;
    }
}

@media (min-width: 867px) and (max-width: 1089px) {

    #goicuoc-slider .rectangle-widget {
        background-image: none !important;
    }

    #goicuoc-slider .description {
        width: 100%;
    }
}


.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
    .col-sm-15 {
        width: 20%;
        float: left;
    }

    .tile .right-col {
        margin-left: -20px;
        padding-right: 7px;
    }

    .tile .widget-footer button {
        margin-bottom: 30px;
    }

    #home-slider .item .description-wrap.khdn {
        right: 16% ;
        height: 100%;
        bottom: 0 ;
        border-radius: 0 ;
        width: 350px;
    }

    #home-slider .item .description-wrap.khdn h3{
        margin-top: 40px;
    }

    #home-slider .item .description-wrap.khdn .show-more {
        text-align: left;
    }

    .form-range-date .input-append {
        max-width: 150px
    }

    .form-range-date button {
        margin-left: 10px;
    }

    .copyright {
        text-align: right;
    }

    .checkbox.special {
        margin: 8px 15px;
    }


}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }

    .tile .widget-footer button {
        margin: 53px 15px;
    }

    .header-wrap .main-header .logo {
        bottom: 15px;
    }

    .header-wrap .main-header .header-menu {
        top: 50px;
    }
}

@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }

    .tile .widget-footer button {
        margin: 21px 15px;
    }

    .dichvu#dem #first-widget {
        height: 132px;
    }
}

@media (max-width: 690px) {

    #goicuoc-slider .description {
        width: 50%;
    }
}

@media (min-height: 550px) {
    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
        /*max-height: none;*/
    }
}