@charset "utf-8";
.service_form_confirm {
	display:none; overflow:hidden; width:410px; height:auto;
	border:1px #BEBEBE solid;
	background:#EEF5FF;
	position:absolute; right:0px; z-index: 99999;
	margin:0px; margin-top:5px;
}
.service_form_title {
	margin:0px;
	font-family:Arial, Helvetica, sans-serif;
	color:#000; font-size:17px; font-weight:bold;
	padding:2px; padding-bottom:5px;
}
.service_form_line {
	border:0px; margin:0px;padding:px;
	border-collapse:collapse; border-top:1px solid #BEBEBE;
}
.service_form_alert {
	margin:3px; padding-left:7px; padding-top:5px;
	font-family:Arial, Helvetica, sans-serif; size:14px;
	overflow:hidden;
	text-align:left; color:#F30;
}
.service_section_button {
	padding-top:7px; padding-bottom:7px;
	margin:5px; text-align:center;
}
.service_form_button {
	margin:2px; cursor:pointer; padding:2px; height:26px; padding-left:5px; padding-right:5px;
}
#service_bg_mas{
	display: none; background:#4A4A4A; position:fixed;
    left: 0; top: 0; width:100%; height:100%;
    opacity:0.7;
    z-index:999;
}