/*Name the background color*/

.background-opaque-purple {
  background-color: #A36BC6;
}

.background-opaque-blue {
  background-color: #68BAE0;
}

.background-opaque-yellow {
  background-color: #FFAD01;
}

.background-opaque-orange {
  background-color: #FB8949;
}

.background-opaque-green {
  background-color: #3BD46A;
}

.background-sweet-orange {
  background-color: #E25D18;
}

.background-sweet-blue {
  background-color: #4475C4;
}

.background-sweet-yellow {
  background-color: #CD9719;
}

.background-sweet-red {
  background-color: #E435A3;
}

.background-red {
  background-color: #CD1C22;
}

.background-sweet-pink {
  background-color: #d13c69;
}

.background-light-green {
  background-color: #7DB751;
}

.background-earth-green {
  background-color: #71B53E;
}

.background-light-blue {
  background-color: #51B88D;
}
.background-light-grey {
  background-color: #e0e0e0;
    color: #333 !important;
}

.background-grey {
    background-color: #f1f1f1;
    color: #333 !important;
}
.background-white {
    background-color: #ffffff;
    color: #333 !important;
}

.background-blue-8db3d7 {
    background-color: #8db3d7;
}

.background-brown-d9a953 {
    background-color: #d9a953;
}

.background-brown-ce9162 {
    background-color: #ce9162;
}

.background-blue-48add4 {
    background-color: #48add4;
}

.background-blue-5f769a {
    background-color: #5f769a;
}

.background-vanglua {
    background-color: #9AA142;
}



.background-orange {

}

/*Css for widget*/

.widget-link {
    display: block;
    margin-bottom: -2px;
}

.widget-link:hover, .widget-link:focus, .widget-link:active {
    text-decoration: none;
}

.widget-link > img {
    width: 100%;
    /*min-height: 165px;*/
    display: inline;
}


.widget-footer {
  height: 150px;
  color: white;
  word-wrap: break-word;
  display: block;
  /*text-align: justify;*/
}

.background-transparent a, .widget-footer a{
  margin-right: 20px;
  border-radius: 25px;
  height: 25px;
  width: 85px;
  color: #666666;
  padding-top: 2px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.widget-footer p,
.widget-footer span{
  padding-left: 15px;
  padding-right: 20px;
  /*margin-bottom: 15px;*/
}

.widget-footer span {
    line-height: 1.4em;
    height: 2.8em;
    overflow: hidden;
}

.widget-footer button {
    margin: 1px 15px;
}

.background-transparent p,
.background-transparent p span{
  padding-left: 15px;
  padding-right: 15px;
}

.background-transparent span, .widget-footer span {
  display: block;
}

.background-transparent p,.widget-footer p{
    font-size: 24px;
    padding-top: 8px;
    line-height: 1.3em;
    /* height: 1.7em; */
    overflow: hidden;
    max-height: 2.9em;
}

.background-transparent {
  position: relative;
  background-size: auto auto;
  height: 261px;
}

.widget-footer.only-title {
    height: 43px;
    min-height: 43px;
}

.widget-footer.only-title p {
    font-size: 16px;
    padding-top: 5px;
}


#huongdan .widget-footer {
    min-height: 120px;
    height: 120px;
}

.text-block {
  display: block;
  vertical-align: middle;
  width: 90%;
}

.news-widget {

}

.news-widget .see-more {
    font-weight: bold;

}

.layer-transparent-sweet-pink {
  background: -webkit-linear-gradient(rgba(255, 0, 0, 0), rgba(210, 60, 105, 1)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(255, 0, 0, 0), rgba(210, 60, 105, 1)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(255, 0, 0, 0), rgba(210, 60, 105, 1)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(255, 0, 0, 0), rgba(210, 60, 105, 1));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
}

.left-layer-transparent-light-green {
  background: -webkit-linear-gradient(left, rgba(113, 181, 62, 1), rgba(255, 0, 0, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(left, rgba(113, 181, 62, 1), rgba(255, 0, 0, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left, rgba(113, 181, 62, 1), rgba(255, 0, 0, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(left, rgba(113, 181, 62, 1), rgba(255, 0, 0, 0));
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

.no-img p {
    font-size: 24px;
    padding-top: 25px;
    padding-left: 25px;
}

.no-img span {
    padding-left: 25px;
    padding-right: 55px;
    padding-bottom: 15px;
}

.no-img .btn {
    margin-right: 20px;
    border-radius: 25px;
    height: 25px;
    width: 85px;
    color: #666666;
    padding-top: 2px;
    margin-top: 10px;
    margin-bottom: 35px;
    margin-left: 25px;
}

.widget-thuebao {
    background-color: #478ec4;
    color: #fff;
    font-size: 16px;
    padding: 20px;
    margin-bottom: 20px;
}

.widget-thuebao > .title{

}




.widget-thuebao .border-line {
    height: 1px;
    background-color: #fff;
    opacity: 0.3;
    margin: 10px 0;
}

.widget-thuebao.khdn {
    background-color: #747a9e;
    font-size: 17px;
}



.tem-3-box .tang1, .tem-4-box .tang1 {
    /*margin-bottom: 1px !important;*/
}


.tem-4-box .tang1 {

}

@media (max-width: 991px) {
    .widget-footer {
        min-height: 150px;
        height: auto;
    }


}


@media (min-width: 768px) and (max-width: 991px) {
    .tang1 .widget-footer span {
        height: 4.5em;
    }

    .tem-4-box .tang1 .widget-footer span {
        height: 2.8em;
    }


}